In [9]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

csv_path = r'D:\Downloads\Mall_Customers.csv'
df = pd.read_csv(csv_path)

print(df.head()) 
print(df.tail())
print(df.info())  
print(df.describe()) 

print(df.isna().sum())

pd.set_option("display.max_rows", 100)
print(df.head(100))

df.rename(columns={
    'CustomerID': 'customer_id',
    'Gender': 'gender',
    'Age': 'age',
    'Annual Income (k$)': 'annual_income',
    'Spending Score (1-100)': 'spending_score'
}, inplace=True)

df.columns = [col.lower().replace(' ', '_') for col in df.columns]

df.set_index('customer_id', inplace=True) 
df.index.name = 'customer_id'
df.index = pd.to_datetime(df.index)
df.reset_index(inplace=True) 

df_melted = df.melt(id_vars=['customer_id'], value_vars=['age', 'annual_income', 'spending_score'])
df_pivot = df.pivot(index='customer_id', columns='gender', values='spending_score')
print(df_melted.head())
print(df_pivot.head())

df1 = df[['customer_id', 'gender', 'age']]
df2 = df[['customer_id', 'annual_income', 'spending_score']]

df_merged = df1.merge(df2, on='customer_id', how='inner') 


df_concat = pd.concat([df1, df2], axis=1)  
df['age_group'] = df['age'].apply(lambda x: 'Young' if x < 30 else 'Old')

df_numeric = df[['annual_income', 'spending_score']]
df_scaled = df_numeric.applymap(lambda x: x / 100)
filtered_df = df.query('age > 40 and spending_score > 60')
grouped_df = df.groupby('gender').agg({
    'age': 'mean',
    'annual_income': 'mean',
    'spending_score': ['min', 'max', 'mean']  
})

grouped_df.reset_index(inplace=True)
print(grouped_df)
agg_df = df.agg({
    'age': ['min', 'max', 'mean'],
    'annual_income': ['min', 'max', 'mean'],
    'spending_score': ['min', 'max', 'mean']
})
print(agg_df)

df_dropped = df.dropna()
df_filled = df.fillna(0) 

df_filled_mean = df.fillna(df.mean(numeric_only=True))

imputer = SimpleImputer(strategy='mean')
df[['annual_income', 'spending_score']] = imputer.fit_transform(df[['annual_income', 'spending_score']])
imputer_median = SimpleImputer(strategy='median')
df[['annual_income', 'spending_score']] = imputer_median.fit_transform(df[['annual_income', 'spending_score']])

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None
       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000
CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64
    CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0            1    Male   19                  15                      39
1            2    Male   21                  15                      81
2            3  Female   20                  16                       6
3            4  Female   23                  16                      77
4            5  Female   31                  17                      40
5            6  Female   22                  17                      76
6            7  Female   35                  18                       6
7            8  Female   23                  18                      94
8            9    Male   64                  19                       3
9           10  Female   30                  19                      72
10          11    Male   67                  19                      14
11          12  Female   35                  19                      99
12          13  Female   58                  20                      15
13          14  Female   24                  20                      77
14          15    Male   37                  20                      13
15          16    Male   22                  20                      79
16          17  Female   35                  21                      35
17          18    Male   20                  21                      66
18          19    Male   52                  23                      29
19          20  Female   35                  23                      98
20          21    Male   35                  24                      35
21          22    Male   25                  24                      73
22          23  Female   46                  25                       5
23          24    Male   31                  25                      73
24          25  Female   54                  28                      14
25          26    Male   29                  28                      82
26          27  Female   45                  28                      32
27          28    Male   35                  28                      61
28          29  Female   40                  29                      31
29          30  Female   23                  29                      87
30          31    Male   60                  30                       4
31          32  Female   21                  30                      73
32          33    Male   53                  33                       4
33          34    Male   18                  33                      92
34          35  Female   49                  33                      14
35          36  Female   21                  33                      81
36          37  Female   42                  34                      17
37          38  Female   30                  34                      73
38          39  Female   36                  37                      26
39          40  Female   20                  37                      75
40          41  Female   65                  38                      35
41          42    Male   24                  38                      92
42          43    Male   48                  39                      36
43          44  Female   31                  39                      61
44          45  Female   49                  39                      28
45          46  Female   24                  39                      65
46          47  Female   50                  40                      55
47          48  Female   27                  40                      47
48          49  Female   29                  40                      42
49          50  Female   31                  40                      42
50          51  Female   49                  42                      52
51          52    Male   33                  42                      60
52          53  Female   31                  43                      54
53          54    Male   59                  43                      60
54          55  Female   50                  43                      45
55          56    Male   47                  43                      41
56          57  Female   51                  44                      50
57          58    Male   69                  44                      46
58          59  Female   27                  46                      51
59          60    Male   53                  46                      46
60          61    Male   70                  46                      56
61          62    Male   19                  46                      55
62          63  Female   67                  47                      52
63          64  Female   54                  47                      59
64          65    Male   63                  48                      51
65          66    Male   18                  48                      59
66          67  Female   43                  48                      50
67          68  Female   68                  48                      48
68          69    Male   19                  48                      59
69          70  Female   32                  48                      47
70          71    Male   70                  49                      55
71          72  Female   47                  49                      42
72          73  Female   60                  50                      49
73          74  Female   60                  50                      56
74          75    Male   59                  54                      47
75          76    Male   26                  54                      54
76          77  Female   45                  54                      53
77          78    Male   40                  54                      48
78          79  Female   23                  54                      52
79          80  Female   49                  54                      42
80          81    Male   57                  54                      51
81          82    Male   38                  54                      55
82          83    Male   67                  54                      41
83          84  Female   46                  54                      44
84          85  Female   21                  54                      57
85          86    Male   48                  54                      46
86          87  Female   55                  57                      58
87          88  Female   22                  57                      55
88          89  Female   34                  58                      60
89          90  Female   50                  58                      46
90          91  Female   68                  59                      55
91          92    Male   18                  59                      41
92          93    Male   48                  60                      49
93          94  Female   40                  60                      40
94          95  Female   32                  60                      42
95          96    Male   24                  60                      52
96          97  Female   47                  60                      47
97          98  Female   27                  60                      50
98          99    Male   48                  61                      42
99         100    Male   20                  61                      49
                    customer_id variable  value
0 1970-01-01 00:00:00.000000001      age     19
1 1970-01-01 00:00:00.000000002      age     21
2 1970-01-01 00:00:00.000000003      age     20
3 1970-01-01 00:00:00.000000004      age     23
4 1970-01-01 00:00:00.000000005      age     31
gender                         Female  Male
customer_id
1970-01-01 00:00:00.000000001     NaN  39.0
1970-01-01 00:00:00.000000002     NaN  81.0
1970-01-01 00:00:00.000000003     6.0   NaN
1970-01-01 00:00:00.000000004    77.0   NaN
1970-01-01 00:00:00.000000005    40.0   NaN
   gender        age annual_income spending_score
                mean          mean            min max       mean
0  Female  38.098214     59.250000              5  99  51.526786
1    Male  39.806818     62.227273              1  97  48.511364
        age  annual_income  spending_score
min   18.00          15.00             1.0
max   70.00         137.00            99.0
mean  38.85          60.56            50.2

In [23]:
import pandas as pd
import re

csv_path =  r'D:\Downloads\Mall_Customers.csv'
df = pd.read_csv(csv_path)

def clean_text(text):
    if isinstance(text, str):
        text = re.sub(r'[^A-Za-z\s]', '', text)
        text = re.sub(r'\s+', ' ', text).strip()
    return text

df['CustomerID'] = df['CustomerID'].apply(clean_text)
df['Gender'] = df['Gender'].apply(clean_text)
df['Age'] = df['Age'].apply(clean_text)
df['Annual Income (k$)'] = df['Annual Income (k$)'].apply(clean_text)
df['Spending Score (1-100)'] = df['Spending Score (1-100)'].apply(clean_text)

print(df.head())

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [11]:
import pandas as pd
import re
import json

url = "https://raw.githubusercontent.com/nnqomariyah/Fundamentals_of_Data_Science/main/week_3/data/movies_metadata.csv"
df = pd.read_csv(url, low_memory=False)

def clean_text(text):
    text = str(text)
    text = re.sub(r'[^A-Za-z0-9\s]+', '', text)
    text = re.sub(r'\s+', ' ', text).strip()
    return text

df = df.applymap(lambda x: clean_text(x) if isinstance(x, str) else x)

def json_flatten(text):
    try:
        json_data = json.loads(text.replace("'", "\""))
        return ', '.join([item['name'] for item in json_data])
    except:
        return text

if 'genres' in df.columns:
    df['genres'] = df['genres'].apply(json_flatten)

print(df.head())
df.to_csv('cleaned_movies_metadata.csv', index=False)

   adult                              belongs_to_collection    budget  \
0  False  id 10194 name Toy Story Collection posterpath ...  30000000
1  False                                                NaN  65000000
2  False  id 119050 name Grumpy Old Men Collection poste...         0
3  False                                                NaN  16000000
4  False  id 96871 name Father of the Bride Collection p...         0

                                              genres  \
0  id 16 name Animation id 35 name Comedy id 1075...
1  id 12 name Adventure id 14 name Fantasy id 107...
2            id 10749 name Romance id 35 name Comedy
3  id 35 name Comedy id 18 name Drama id 10749 na...
4                                  id 35 name Comedy

                        homepage     id    imdb_id original_language  \
0  httptoystorydisneycomtoystory    862  tt0114709                en
1                            NaN   8844  tt0113497                en
2                            NaN  15602  tt0113228                en
3                            NaN  31357  tt0114885                en
4                            NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ... release_date  \
0  Led by Woody Andys toys live happily in his ro...  ...     19951030
1  When siblings Judy and Peter discover an encha...  ...     19951215
2  A family wedding reignites the ancient feud be...  ...     19951222
3  Cheated on mistreated and stepped on the women...  ...     19951222
4  Just when George Banks has recovered from his ...  ...     19950210

       revenue runtime                                 spoken_languages  \
0  373554033.0    81.0                          iso6391 en name English
1  262797249.0   104.0  iso6391 en name English iso6391 fr name Franais
2          0.0   101.0                          iso6391 en name English
3   81452156.0   127.0                          iso6391 en name English
4   76578911.0   106.0                          iso6391 en name English

     status                                            tagline  \
0  Released                                                NaN
1  Released           Roll the dice and unleash the excitement
2  Released  Still Yelling Still Fighting Still Ready for Love
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal Hes In F...

                         title  video vote_average vote_count
0                    Toy Story  False          7.7     5415.0
1                      Jumanji  False          6.9     2413.0
2             Grumpier Old Men  False          6.5       92.0
3            Waiting to Exhale  False          6.1       34.0
4  Father of the Bride Part II  False          5.7      173.0

[5 rows x 24 columns]